node-red-flows.json
[{"id":"d0e30e0c.c4c56","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b56ed7ee.9651f8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"2e2f795.b165786","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"6e618b34.e22194","type":"ui_group","z":"","name":"Default","tab":"2e2f795.b165786","order":1,"disp":true,"width":"6","collapse":false},{"id":"2df0e083.b9641","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"9ae2c7ff.437718","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"e3a9af98.67a72","type":"ui_group","z":"","name":"Default","tab":"9ae2c7ff.437718","order":1,"disp":true,"width":"6","collapse":false},{"id":"5dc7e6ec.bc4798","type":"inject","z":"d0e30e0c.c4c56","name":"","topic":"","payload":"Hello Node-RED!","payloadType":"string","repeat":"","crontab":"","once":false,"x":141,"y":61,"wires":[["1abad11f.2191cf"]]},{"id":"1abad11f.2191cf","type":"debug","z":"d0e30e0c.c4c56","name":"","active":true,"console":"false","complete":"false","x":401,"y":87,"wires":[]},{"id":"f9cf7d7d.6b02e","type":"ui_form","z":"b56ed7ee.9651f8","name":"","label":"","group":"e3a9af98.67a72","order":0,"width":0,"height":0,"options":[{"label":"Year","value":"a","type":"number","required":true,"rows":null},{"label":"Adult Mortality","value":"b","type":"number","required":true,"rows":null},{"label":"infant deaths","value":"c","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"d","type":"number","required":true,"rows":null},{"label":"percentage expenditure","value":"e","type":"number","required":true,"rows":null},{"label":"Hepatitis B","value":"f","type":"number","required":true,"rows":null},{"label":"Measles","value":"g","type":"number","required":true,"rows":null},{"label":"BMI","value":"h","type":"number","required":true,"rows":null},{"label":"under-five deaths","value":"i","type":"number","required":true,"rows":null},{"label":"Polio","value":"j","type":"number","required":true,"rows":null},{"label":"Total expenditure","value":"k","type":"number","required":true,"rows":null},{"label":"Diphtheria","value":"l","type":"number","required":true,"rows":null},{"label":"HIV/AIDS","value":"m","type":"number","required":true,"rows":null},{"label":"thinness  1-19 years","value":"n","type":"number","required":true,"rows":null},{"label":"thinness 5-9 years","value":"o","type":"number","required":true,"rows":null},{"label":"Income composition of resources","value":"p","type":"number","required":true,"rows":null},{"label":"Schooling","value":"q","type":"number","required":true,"rows":null}],"formValue":{"a":"","b":"","c":"","d":"","e":"","f":"","g":"","h":"","i":"","j":"","k":"","l":"","m":"","n":"","o":"","p":"","q":""},"payload":"","submit":"Predict","cancel":"cancel","topic":"","x":80,"y":360,"wires":[["8efa04db.90b868"]]},{"id":"8efa04db.90b868","type":"function","z":"b56ed7ee.9651f8","name":"pre_token","func":"global.set(\"a\",msg.payload.a);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\nglobal.set(\"l\",msg.payload.l);\nglobal.set(\"m\",msg.payload.m);\nglobal.set(\"n\",msg.payload.n);\nglobal.set(\"o\",msg.payload.o);\nglobal.set(\"p\",msg.payload.p);\nglobal.set(\"q\",msg.payload.q);\n\nvar apikey= \"ABDi6YyXE1KxxP5O3ysib6u-ZoDDnV97oUBps0hMQ-O_\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;","outputs":1,"noerr":0,"x":150,"y":220,"wires":[["a6779330.ba34a"]]},{"id":"dc753556.a47958","type":"function","z":"b56ed7ee.9651f8","name":"","func":"var token=msg.payload.access_token;\nvar instance_id=\"c861c97b-9bc9-4ce6-9ad3-5c2a8a4d5a2b\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer\"+token,\"ML-Instance-ID\":instance_id}\nvar a = global.get(\"a\");\nvar b = global.get(\"b\");\nvar c = global.get(\"c\");\nvar d = global.get(\"d\");\nvar e = global.get(\"e\");\nvar f = global.get(\"f\");\nvar g = global.get(\"g\");\nvar h = global.get(\"h\");\nvar i = global.get(\"i\");\nvar j = global.get(\"j\");\nvar k = global.get(\"k\");\nvar l = global.get(\"l\");\nvar m = global.get(\"m\");\nvar n = global.get(\"n\");\nvar o = global.get(\"o\");\nvar p = global.get(\"p\");\nvar q = global.get(\"q\");\n\nmsg.payload={\"fields\":[\"Year\", \"Adult Mortality\",\n       \"infant deaths\", \"Alcohol\", \"percentage expenditure\", \"Hepatitis B\",\n       \"Measles \", \" BMI \", \"under-five deaths \", \"Polio\", \"Total expenditure\",\n       \"Diphtheria \", \" HIV/AIDS\",\" thinness  1-19 years\", \" thinness 5-9 years\",\n       \"Income composition of resources\", \"Schooling\"],\n       \"values\":[[a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q]]};\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":420,"wires":[["df26db36.e7e3f8"]]},{"id":"e232ef61.99bc4","type":"function","z":"b56ed7ee.9651f8","name":"","func":"msg.payload=msg.payload.values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":80,"wires":[["8fd39a8.0c2e668","ec24fbc1.259898"]]},{"id":"a6779330.ba34a","type":"http request","z":"b56ed7ee.9651f8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"basic","x":280,"y":100,"wires":[["dc753556.a47958"]]},{"id":"df26db36.e7e3f8","type":"http request","z":"b56ed7ee.9651f8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/c861c97b-9bc9-4ce6-9ad3-5c2a8a4d5a2b/deployments/24dde0ff-16b4-4ccf-996d-b1e936472094/online","tls":"","persist":false,"proxy":"","authType":"","x":510,"y":160,"wires":[["4511afa.fc8ba5","e232ef61.99bc4"]]},{"id":"4511afa.fc8ba5","type":"debug","z":"b56ed7ee.9651f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":300,"wires":[]},{"id":"8fd39a8.0c2e668","type":"debug","z":"b56ed7ee.9651f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":860,"y":80,"wires":[]},{"id":"ec24fbc1.259898","type":"ui_text","z":"b56ed7ee.9651f8","group":"e3a9af98.67a72","order":1,"width":0,"height":0,"name":"","label":"LIFE-EXPECTANCY","format":"{{msg.payload}}","layout":"row-spread","x":860,"y":200,"wires":[]}]